In [10]:
notes <- read.csv("../data/notas.csv" )  
notes

   ï..alumnos notas carrera
1  DIEGO      10    a001
2  GABRIEL     4    a001
3  ANDRE       7    a001
4  ANDRES     16    a002
5  FERNANDO   16    a003
6  MILAGROS   19    a002
7  OSCAR       9    a001
8  RODRIGO     1    a003
9  ALEJANDRO   7    a001
10 LORENZO    21    a001
11 ELIANE     18    a001
12 ALDAIR     15    a002
13 LUIS        0    a004
14 JAVIER     12    a001
15 ALONSO     17    a002
16 MARCO      18    a001
17 SEBASTIAN  15    a004
18 LUZCIA      0    a001
19 NAYEL      18    a004
20 JOAQUIN     4    a002
21 ILIZARBE    6    a001
22 VIVIANA    18    a004
23 LUIS       10    a004
24 ROCIO      13    a002
25 LEIDY      21    a001
26 MELISSA    16    a002
27 FERNANDO   15    a001
28 MARTIN     21    a001
29 DANIELA    17    a003
30 GONZALO     7    a001
31 SOFIA       6    a003
32 ANGEL      10    a004
33 CAMILA      1    a001
34 ROSA        3    a001
35 MARCELO    21    a002
36 JOSUE      16    a001
37 RUBEN      19    a002
38 HUGO       13    a003

In [11]:
notes['Condicion'] <- notes$notas

i <- 1

nrows = dim(notes)[1]

while (i <= nrows){
    
     if (notes$notas[i] >= 11){
        notes$Condicion[i] = 'Aprobo'
        }
    else if (notes$notas[i] < 11){
        notes$Condicion[i] = 'No aprobo'
    }
    i <- i + 1 
}
notes

   ï..alumnos notas carrera Condicion
1  DIEGO      10    a001    No aprobo
2  GABRIEL     4    a001    No aprobo
3  ANDRE       7    a001    No aprobo
4  ANDRES     16    a002    Aprobo
5  FERNANDO   16    a003    Aprobo
6  MILAGROS   19    a002    Aprobo
7  OSCAR       9    a001    No aprobo
8  RODRIGO     1    a003    No aprobo
9  ALEJANDRO   7    a001    No aprobo
10 LORENZO    21    a001    Aprobo
11 ELIANE     18    a001    Aprobo
12 ALDAIR     15    a002    Aprobo
13 LUIS        0    a004    No aprobo
14 JAVIER     12    a001    Aprobo
15 ALONSO     17    a002    Aprobo
16 MARCO      18    a001    Aprobo
17 SEBASTIAN  15    a004    Aprobo
18 LUZCIA      0    a001    No aprobo
19 NAYEL      18    a004    Aprobo
20 JOAQUIN     4    a002    No aprobo
21 ILIZARBE    6    a001    No aprobo
22 VIVIANA    18    a004    Aprobo
23 LUIS       10    a004    No aprobo
24 ROCIO      13    a002    Aprobo
25 LEIDY      21    a001    Aprobo
26 MELISSA    16    a002    Aprobo
27 FERNANDO   15    a001    Aprobo
28 MARTIN     21    a001    Aprobo
29 DANIELA    17    a003    Aprobo
30 GONZALO     7    a001    No aprobo
31 SOFIA       6    a003    No aprobo
32 ANGEL      10    a004    No aprobo
33 CAMILA      1    a001    No aprobo
34 ROSA        3    a001    No aprobo
35 MARCELO    21    a002    Aprobo
36 JOSUE      16    a001    Aprobo
37 RUBEN      19    a002    Aprobo
38 HUGO       13    a003    Aprobo

In [12]:
nrows <- dim(notes)[1]
i <- 1

while (i < nrows){
    
    if (notes$carrera[i] == 'a001'){
      notes$nombre_carrera[i] = 'Economía'
}
    else if (notes$carrera[i] == 'a002'){ 
             notes$nombre_carrera[i] = 'Química'
    } 
    else if (notes$carrera[i] == 'a003'){
             notes$nombre_carrera[i] = 'Filosofía'
    } 
    else {
        notes$nombre_carrera[i] = '-'
    }
    i <- i + 1
}

notes

   ï..alumnos notas carrera Condicion nombre_carrera
1  DIEGO      10    a001    No aprobo Economía
2  GABRIEL     4    a001    No aprobo Economía
3  ANDRE       7    a001    No aprobo Economía
4  ANDRES     16    a002    Aprobo    Química
5  FERNANDO   16    a003    Aprobo    Filosofía
6  MILAGROS   19    a002    Aprobo    Química
7  OSCAR       9    a001    No aprobo Economía
8  RODRIGO     1    a003    No aprobo Filosofía
9  ALEJANDRO   7    a001    No aprobo Economía
10 LORENZO    21    a001    Aprobo    Economía
11 ELIANE     18    a001    Aprobo    Economía
12 ALDAIR     15    a002    Aprobo    Química
13 LUIS        0    a004    No aprobo -
14 JAVIER     12    a001    Aprobo    Economía
15 ALONSO     17    a002    Aprobo    Química
16 MARCO      18    a001    Aprobo    Economía
17 SEBASTIAN  15    a004    Aprobo    -
18 LUZCIA      0    a001    No aprobo Economía
19 NAYEL      18    a004    Aprobo    -
20 JOAQUIN     4    a002    No aprobo Química
21 ILIZARBE    6    a001    No aprobo Economía
22 VIVIANA    18    a004    Aprobo    -
23 LUIS       10    a004    No aprobo -
24 ROCIO      13    a002    Aprobo    Química
25 LEIDY      21    a001    Aprobo    Economía
26 MELISSA    16    a002    Aprobo    Química
27 FERNANDO   15    a001    Aprobo    Economía
28 MARTIN     21    a001    Aprobo    Economía
29 DANIELA    17    a003    Aprobo    Filosofía
30 GONZALO     7    a001    No aprobo Economía
31 SOFIA       6    a003    No aprobo Filosofía
32 ANGEL      10    a004    No aprobo -
33 CAMILA      1    a001    No aprobo Economía
34 ROSA        3    a001    No aprobo Economía
35 MARCELO    21    a002    Aprobo    Química
36 JOSUE      16    a001    Aprobo    Economía
37 RUBEN      19    a002    Aprobo    Química
38 HUGO       13    a003    Aprobo    Economía

In [16]:
nrows <- dim(notes)[1]
i <- 1

while (i < nrows){
    
    if (notes$Condicion[i] == 'Aprobo' & notes$nombre_carrera[i] == 'Química'){
        print(notes$ï..alumnos[i])
    }
   i <- i + 1
}

[1] ANDRES
36 Levels: ALDAIR ALEJANDRO ALONSO ANDRE ANDRES ANGEL  CAMILA DANIELA ... VIVIANA
[1] MILAGROS
36 Levels: ALDAIR ALEJANDRO ALONSO ANDRE ANDRES ANGEL  CAMILA DANIELA ... VIVIANA
[1] ALDAIR
36 Levels: ALDAIR ALEJANDRO ALONSO ANDRE ANDRES ANGEL  CAMILA DANIELA ... VIVIANA
[1] ALONSO
36 Levels: ALDAIR ALEJANDRO ALONSO ANDRE ANDRES ANGEL  CAMILA DANIELA ... VIVIANA
[1] ROCIO
36 Levels: ALDAIR ALEJANDRO ALONSO ANDRE ANDRES ANGEL  CAMILA DANIELA ... VIVIANA
[1] MELISSA
36 Levels: ALDAIR ALEJANDRO ALONSO ANDRE ANDRES ANGEL  CAMILA DANIELA ... VIVIANA
[1] MARCELO
36 Levels: ALDAIR ALEJANDRO ALONSO ANDRE ANDRES ANGEL  CAMILA DANIELA ... VIVIANA
[1] RUBEN
36 Levels: ALDAIR ALEJANDRO ALONSO ANDRE ANDRES ANGEL  CAMILA DANIELA ... VIVIANA

In [17]:
set.seed(654)
A1 <- runif(10000)
A1 <- round(A1,2)

In [21]:
install.packages("matlib")

  There is a binary version available but the source version is later:
       binary source needs_compilation
matlib  0.9.4  0.9.5             FALSE

installing the source package 'matlib'

Warning message in install.packages("matlib"):
"installation of package 'matlib' had non-zero exit status"

In [23]:
prod_fish <- read.csv("../data/production_fish.csv" )

In [19]:
names(prod_fish)

 [1] "year"                "Anchoveta"           "Concha.de.abanico"
 [4] "Langostino"          "Merluza"             "Calamar.gigante"
 [7] "Atun"                "Caballa"             "Jurel"
[10] "Sardina"             "Concha.de.abanico.1" "Jurel.1"
[13] "Liza"                "Tollo"               "total_production"

In [22]:
str(prod_fish)

'data.frame':	16 obs. of  15 variables:
 $ year               : int  2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 ...
 $ Anchoveta          : num  8628 5892 6085 6159 5829 ...
 $ Concha.de.abanico  : num  13.5 14.7 19.9 18.8 24.6 ...
 $ Langostino         : num  9.02 11.29 13.55 12.82 11.88 ...
 $ Merluza            : num  23.3 25.2 28.4 26.3 36.8 ...
 $ Calamar.gigante    : num  236 366 380 484 355 ...
 $ Atun               : num  9.88 11.34 3.71 3.28 2.02 ...
 $ Caballa            : num  25.7 58.2 26.2 47.7 51.4 ...
 $ Jurel              : num  20.5 122.9 82.9 58.9 14.3 ...
 $ Sardina            : num  0.165 0.048 0.00102 0 0 ...
 $ Concha.de.abanico.1: num  1.843 4.048 4.823 0.828 1.843 ...
 $ Jurel.1            : num  56.2 136.8 134.9 80.1 47.1 ...
 $ Liza               : num  5.88 3.17 9.32 14.51 17.31 ...
 $ Tollo              : num  0.43 1.58 2.83 2.93 4.06 ...
 $ total_production   : num  9030 6647 6791 6910 6395 ...

In [24]:
head(prod_fish)

  year Anchoveta Concha.de.abanico Langostino Merluza  Calamar.gigante
1 2005 8628.396  13.53700           9.02100   23.27900 235.6300
2 2006 5891.838  14.71400          11.29500   25.18900 365.7290
3 2007 6084.713  19.93700          13.54800   28.35849 379.5566
4 2008 6159.387  18.79000          12.81700   26.34840 484.1621
5 2009 5828.636  24.63437          11.87740   36.77476 355.1066
6 2010 3330.413  60.00125          14.47794   25.64770 327.5719
  Atun      Caballa   Jurel      Sardina Concha.de.abanico.1 Jurel.1
1  9.877000 25.711000  20.481000 0.16500 1.8430800            56.16794
2 11.336000 58.245000 122.904000 0.04800 4.0480000           136.82700
3  3.713293 26.248739  82.910307 0.00102 4.8229906           134.88732
4  3.283711 47.694121  58.864202 0.00000 0.8281875            80.09288
5  2.017061 51.355908  14.289041 0.00000 1.8430723            47.07917
6  9.182845  9.729522   5.774274 0.00000 2.8247486            10.40493
  Liza      Tollo    total_production
1  5.875600 0.430000 9030.414
2  3.166000 1.584000 6646.923
3  9.317622 2.834958 6790.849
4 14.514054 2.933360 6909.715
5 17.311344 4.057886 6394.983
6  9.706363 4.994712 3810.729

In [26]:
library(glue)

In [29]:
for (poranch in Anchoveta){
    prod_fish[glue('{col_%}')] <- (prod_fish[glue('{col}')]*100/prod_fish$total_production
    })
}

ERROR: Error in parse(text = x, srcfile = src): <text>:3:5: inesperado '}'
2:     prod_fish[glue('{col_%}')] <- (prod_fish[glue('{col}')]*100/prod_fish$total_production
3:     }
       ^